}

.okno {
    width:200px;
    height:700px;
}

.gumb {
    height:30px;
    text-align: center
    
    
}

#iskanje {
    margin-top: 200px;
    margin-bottom: 20px;
    text-align: center
}

.navigacija {
    text-align: right
}